<div #contentFather id="contentFather">
    <div id="decorator"></div>
    <div id="chatFather">
     
        <header  #headerChat id="headerChat">
            <div id="imgeName">
                <img src="../../assets/image/userImg.png"  #imgUser id="imgUser " >
               <h2 #nameUser id="nameUser "   >Nombre</h2>
                
            </div>
            <div id="logoServer">
              
            <h3 id="contentServer" #contentServer >Servidor: <span #nameServer id="nameServer"></span></h3>
           
            
        </div>
                
            
          
                <div id="dark" #dark>
                 <div #buttonDark  id="buttonDark" (click)="buttonLight()" >
                     <img #imgDark src="../../assets/image/day.png">
                    </div>
                </div>
           

        </header>
     
        <section #ConverssationChat id="ConverssationChat">
          <div #ContentMessages class="ContentMessages">
            <div class="message left"    *ngFor="let item of messageList"
            [ngClass] ="{
                 'left' : item.message_side === 'receiver',
                   'right' : item.message_side === 'sender'
                  }">  
          
              <img src={{item.imgUser}} class="avatar">
              <div class="text_wrapper">
            
                <div class="text">{{item.message}}</div>
            </div>
            </div>
          </div>
            <footer #messageFather id="messageFather">
                <img id="emoticon" src="../../assets/image/emoticono.png" >
                
                     <input id="inputMessage"  #inputMessage type="text" placeholder="Mensage..."  [(ngModel)]="messageInput" (keydown.enter)="sendMessageChat()">
             
                    <button (click)="sendMessageChat()" >
                    <img src="../../assets/image/iconEnd.png">
                    </button>
    
            </footer>
        </section>
       


    </div>


</div>